<div class="sudoku">
	<table>
		@for (int row = 0; row < 9; row++)
		{
			<tr>
				@for (int col = 0; col < 9; col++)
				{
					<td>
						<InputCell Row="row"
							Column="col"
							Grid="Grid"
							DoOnUpdate=DoOnUpdate />
					</td>
				}
			</tr>
		}
	</table>
</div>

@code {
	[Parameter]
	public int[,]? Grid { get; set; }

	[Parameter]
	public EventCallback DoOnUpdate { get; set; }
}