<div>
	<table class="sudoku">
		@for (int row = 0; row < 9; row++)
		{
			<tr>
				@for (int col = 0; col < 9; col++)
				{
					<td>@Grid![row, col]</td>
				}
			</tr>
		}
	</table>
</div>

@code {
	[Parameter]
	public int[,]? Grid { get; set; }
}
