h1 {
    font-family: 'Lucida Console';
    font-style: italic;
}

table.sudoku {
    font-style: italic;
    margin: 8px;
    border: 4px solid black;
    border-collapse: collapse;
}

table.sudoku tr:nth-child(3n) {
    border-bottom: 4px solid black;
}

table.sudoku tr td {
    padding: 0px 4px 0px 4px;
}

table.sudoku tr td:nth-child(3n) {
    border-right: 4px solid black;
}

::selection {
    background-color: hotpink;
}