h1 {
    font-family: 'Lucida Console';
    font-style: italic;
}
div.sudoku {
    display: inline-block;
}

    div.sudoku table {
        font-style: italic;
        margin: 8px;
        border: 4px solid black;
        border-collapse: collapse;
    }

        div.sudoku table tr:nth-child(3n) {
            border-bottom: 4px solid black;
        }

        div.sudoku table tr td {
            padding: 0px 4px 0px 4px;
        }

            div.sudoku table tr td:nth-child(3n) {
                border-right: 4px solid black;
            }

::selection {
    background-color: hotpink;
}